* {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#container {
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
  width: 270px;
  height: 400px;
}
#display1 {
  border: 1.5px solid;
  width: 85%;
  height: 10%;
  text-align: right;
  margin-top: 12px;
  font-size: 22px;
}
#btn_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  height: 85%;
}
.btn {
  height: 50px;
  width: 55px;
}
:hover.btn {
  background-color: aqua;
  border-radius: 10px;
}
#center {
  display: flex;
  justify-content: center;
}
